{% if state == "ACTIVE" %}
    <span class="badge badge-success">{{ room.get_state_display }}</span>
{% elif state == "INACTIVE" %}
    <span class="badge badge-secondary">{{ room.get_state_display }}</span>
{% else %}
    <span class="badge badge-warning">{{ room.get_state_display }}</span>
{% endif %}
