{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block styles %}
    <style>
        .separator {
            width: 100%;
            text-align: center;
            overflow: hidden;
            display: flex;
            align-items: center;
        }

        .separator .separator-line {
            height: 0.05em;
            content: "";
            flex-grow: 1;
        }

        .separator .separator-label {
            margin: 0 1em;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{% trans "Start a room" %}</h3>
                        </div>

                        <div class="card-body">
                            <div class="p-3">
                                <p>
                                    {% blocktranslate trimmed %}
                                        If you do not want to create the meeting and wait for another moderator to start
                                        this room, you can join the waiting room.
                                    {% endblocktranslate %}
                                </p>
                                <a class="btn btn-secondary"
                                   href="{% url "join_meeting" room.meeting_id %}">{% translate "Join waiting room" %}</a>
                            </div>
                            <div class="separator my-4">
                                <div class="separator-line bg-secondary"></div>
                                <span class="separator-label">{% translate "Or" %}</span>
                                <div class="separator-line bg-secondary"></div>
                            </div>
                            <div class="p-3">
                                <p>
                                    {% blocktranslate trimmed with room_config=room.config %}
                                        Start the room <strong>{{ room }}</strong> with the configuration
                                        <strong>{{ room_config }}</strong> and the following parameters. The settings
                                        can be adjusted as needed for this meeting.
                                    {% endblocktranslate %}
                                </p>
                                {% crispy form %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
