{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script>
        function deleteTenant(url) {
            jQuery('#delete_tenant').attr('href', url);
            jQuery('#delete_tenant_modal').modal('toggle');
        }
        {% if oidc_enabled %}
            function deleteAuthParameter(url) {
                jQuery('#delete_auth').attr('href', url);
                jQuery('#delete_auth_modal').modal('toggle');
            }
        {% endif %}
    </script>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="table_desc">{% trans "Tenant overview" %}<span
                                    class="badge badge-pill badge-primary ml-1">{{ tenants.count }}</span></h3>
                            <div class="card-tools">
                                <a class="btn btn-sm btn-default float-right" href="{% url 'tenant_create' %}"><em
                                        class="fas fa-plus"></em></a>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table aria-describedby="table_desc" class="table table-hover table-sm">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">{% trans "Name" %}</th>
                                    <th scope="col">{% trans "Domain" %}</th>
                                    <th scope="col" class="text-right">{% trans "Action" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- empty table row to fix data table tooltip bug with only one entry -->
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% for tenant in tenants %}

                                    <tr>
                                        <td>{{ tenant.name }}</td>
                                        <td>{{ tenant.domain }}</td>
                                        <td>
                                            <div class="btn-group btn-group-sm float-right">
                                                <a class="btn btn-success"
                                                   href="{% url "tenant_update" tenant.pk %}"
                                                   data-toggle="tooltip" data-placement="top"
                                                   title="{% trans "Edit" %}">
                                                    <em class="fas fa-pen"></em>
                                                </a>
                                                <button class="btn btn-danger"
                                                        onclick="deleteTenant('{% url "tenant_delete" tenant.pk %}')"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="{% trans "Delete" %}">
                                                    <em class="fas fa-trash-alt"></em>
                                                </button>
                                                {% if oidc_enabled %}
                                                    {% if not tenant.auth_parameter %}
                                                        <a class="btn btn-warning"
                                                           href="{% url "auth_parameter_create" tenant.pk %}"
                                                           data-toggle="tooltip" data-placement="top"
                                                           title="{% trans "Create AuthParameter" %}">
                                                            <em class="fas fa-plus"></em>
                                                        </a>
                                                    {% else %}
                                                        <a class="btn btn-warning"
                                                           href="{% url "auth_parameter_update" tenant.pk %}"
                                                           data-toggle="tooltip" data-placement="top"
                                                           title="{% trans "Update AuthParameter" %}">
                                                            <em class="fas fa-user-lock"></em>
                                                        </a>
                                                        <button class="btn btn-danger"
                                                                onclick="deleteAuthParameter('{% url "auth_parameter_delete" tenant.pk %}')"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="{% trans "Delete AuthParameter" %}">
                                                            <em class="fas fa-lock-open"></em>
                                                        </button>
                                                    {% endif %}
                                                {% endif %}
                                            </div>

                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div id="delete_tenant_modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="CenterModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="CenterModalLabel">{% trans "Delete tenant" %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    {% trans "Are you sure you want to delete the tenant?" %}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href=""
                       data-toggle="tooltip" data-placement="top" title="Löschen" id="delete_tenant">
                        {% trans "Delete" %}
                    </a>
                    <button type="button" class="btn btn-secondary waves-effect"
                            data-dismiss="modal">{% trans "Cancel" %}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    {% if oidc_enabled %}
        <div id="delete_auth_modal" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="CenterModalLabel"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="CenterModalLabel">{% trans "Delete authentication parameter" %}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        {% trans "Are you sure you want to delete the authentication parameter for this tenant?" %}
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" href=""
                           data-toggle="tooltip" data-placement="top" title="Löschen" id="delete_auth">
                            {% trans "Delete" %}
                        </a>
                        <button type="button" class="btn btn-secondary waves-effect"
                                data-dismiss="modal">{% trans "Cancel" %}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    {% endif %}
{% endblock %}
